<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Titulo de la web</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Estilos-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/sexystyle/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <!--Estilos-->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="https://rawgit.com/grevory/angular-local-storage/master/dist/angular-local-storage.min.js"></script>
    <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="ctrlFire">
<nav class="row blue draken-1">
    <div class="nav-wrapper blue draken-1 container">
        <a href="#!" class="brand-logo"><span class="col s2"><i class="material-icons">account_box</i></span></a>
        <ul class="right hide-on-med-and-down">
            <li> <a href="#" ng-click="clearAll()" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Eliminar Usuario"> <i class="material-icons" >delete</i></a> </li>
        </ul>
    </div>
    <header class="row container blue draken-1">
        <!--Busquedas-->
        <div class="input-field col s4">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" ng-model="txtuser" ng-change="local()" class="validate white-text  ">
            <label for="icon_prefix">Nuevo Usuario</label>
        </div>
        <!--Busquedas-->
        <section class="col s6 offset-s2">
            <div class="input-field">
                <label for="search"><i class="material-icons">search</i></label>
                <input id="search" type="search">
            </div>
        </section>
    </header>
</nav>


<br>
<div id="chat">
    <div id="header-chat">
        <header class="center thin">
            <p>(Activo ahora...)</p>
        </header>
    </div>

    <div id="mensajes" class="row container">
        <div ng-repeat="chat in listaChats" class="col left s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper ">
                    <div class="col s2">
                        <img src="img/AdamLevine.jpg" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s10">
                        <span class="thin grey-text">{{chat.user}}</span>
                        <br>
                        <span class="black-text">{{chat.comentario}}</span>
                        <br>
                        <span class="right thin">{{chat.fecha }}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="while row">

    <section class="col s10 b">
        <label><i class=""></i></label>
        <input type="text" ng-model="txtuser" ng-change="local()" placeholder="Usuario">
        <br>
    </section>
    <section class="col s1">
        <img src="img/AdamLevine.jpg" alt="" class="circle responsive-img">
    </section>

    <section class="col s10 inp">
        <input type="text" ng-model="estudiante" placeholder="Escribir mensaje...">
    </section>

    <section class="col s1 ">
        <button ng-click="agregarComentario()" class="btn col 12 mt blue darken-1 large waves-effect waves-light" type="submit" name="action">
            <i class="material-icons">send</i>
        </button>
    </section>

    <section class="col s12 b">
        <button class="limpiar" ng-click="clearAll()">Limpiar Usuario</button>
    </section>

</div>
</body>

</html>
